<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>Jaya Krishna</title>
    {%include 'style.css'%}
    {%include 'bootstrap.html'%}
    {%include 'nav.html'%}
</head>
<body id="body">
    
<div class="profile-section row">
    <div class="profile-info col ">
        <h3>Jaya Krishna. Gaddam</h3>
        <h1 class="mt-2">Python Full Stack Developer &</h1>
        <h2>Tech Enthusiast</h2>
        <p class="lead mt-4" style="font-size: 20px;">Python developer specialized in Artificial Intelligence and 
        Intelligent Process Automation</p>
        <div style="display: grid;">
        <a class="mt-2 btn btn-primary" href="{{url_for('contactus')}}">Contact</a>
        <a class="mt-2 mb-2 btn btn-light active" href="{{url_for('projects')}}">My Works</a>
        </div>
    </div>
    <div id="prid" class="mt-4 profile-image col ">
        <img src="static\IMG-20230411-WA0001_image_repair_1681202503106.jpg" alt="My Image">
        
        <p class="mt-4">
        <a href="https://linkedin.com/in/jaya-krishna-gaddam-92a62221b" class="social-icons" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/jayakrishnagaddam" class="social-icons" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/jayakrishna_fyi" class="social-icons" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/jayakrishna_fyi" class="social-icons" target="_blank"><i class="fab fa-instagram"></i></a>
    </p>
    </div>
</div>
{%include 'specialities.html'%}

<div class="mt-4 bg-light text-dark text-lg-start mt-0 p-4 rounded-lg bg-white shadow">
    <h3 class="text-center mt-1 mb-3">About</h3>
    <div class="row">
        <div class="col">
            <p><b>Jaya Krishna</b></p>
            <p id="pid">KL'25,CS.Eng.Student,Web Developer and AI/ML Developer...</p>
            <p id="pid">I'm a graduate of KL's class of 2025 and my passion is Computer Science.</p>
            <p id="pid">My interests include Software Design and Developement, Artificial Intelligence, Machine Learning,
                Computer Vision and Data Science.
            </p>
           
        </div>
        <div class="col">
            <div class="lead text-center ">
                <p style="font-size: 26px;"><b>Learn More About My :</b></p>
                <a class="btn btn-light" href="{{url_for('projects')}}">Projects </a>
                <a class="btn btn-light" href="{{url_for('papers')}}">Papers </a>
                <a class="btn btn-light" href="{{url_for('skills')}}">Skills </a>
                <p></p>
                <a class="btn btn-light" href="{{url_for('internships')}}">Internships</a>
                <a class="btn btn-light" href="{{url_for('certifications')}}">Certifications</a>
                <p></p>
                <a class="btn btn-light" href="static\Resume_Jayakrishna.pdf">Resume</a>
        
            </div>

        </div>

    </div>
    <div class="upgrade-item mt-2 mb-2"></div>
    <div class="text-center mt-4">

        <a id="aid" style="font-size: 24px;" class="mb-2" href="https://www.kluniversity.in" target="_blank">Koneru Lakshmiah Education Foundation(KLEF)</a>
        <p class="mt-2" id="pid"><b>--Bachelor of Technology in Computer Science and Information Technology</b></p>
        <p id="pid"><b>--Specialized in Artificial Intelligence and Intelligent Process Automation</b></p>
        <p id="pid"><b>--Certified Tensorflow Developer</b></p>
        <p id="pid"><b>--Certified Pytorch Developer</b></p>
        </div>


</div>


       {%include 'footer.html'%} 
</body>
</html>