
<div class="mb-4">
    <h1 class="lead text-center mt-4" style="font-size: 32px;"><b>Specialities</b></h1>
    <p class="text-center container mb-4">My Technical and Non-Technical specialties where I am evenly skilled during my course time of Under Graduation.</p>

    <div id="did" class="mt-4 row">
        <div class="col">
            <div class="specialty-card">
                <img class="card-img-top" src="static\ailogo.jpg" width="200" height="200" alt="Card image cap">
            </div>
        </div>
        <div class="col">
            <div class="specialty-card">
                <img class="card-img-top" src="static\machinelpic.jpg" width="200" height="200" alt="Card image cap">
            </div>
        </div>
        <div class="col">
            <div class="specialty-card">
                <img class="card-img-top" src="static\python.png" width="200" height="200" alt="Card image cap">
            </div>
        </div>
        <div class="col">
            <div class="specialty-card">
                <img class="card-img-top" src="static\Cpic.png" width="200" height="200" alt="Card image cap">
            </div>
        </div>
    </div>
    <div id="did" class="mb-4 mt-4 row">
        <div class="col">
            <div class="specialty-card">
                <img class="card-img-top" src="static\fullstack.jpg" width="200" height="200" alt="Card image cap">
            </div>

        </div>
        <div class="col">
            <div class="specialty-card">
                <img class="card-img-top" src="static\Tensorflow-septmber-update-social (2) (1).png" width="200" height="200" alt="Card image cap">
            </div>

        </div>
        <div class="col">
            <div class="specialty-card">
                <img class="card-img-top" src="static\Oraclepic.png" width="200" height="200" alt="Card image cap">
            </div>

        </div>
        <div class="col">
            <div class="specialty-card">
                <img class="card-img-top" src="static\Azurelogo.jpg" width="200" height="200" alt="Card image cap">
            </div>

        </div>


    </div>


    
</div>
